.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  &__inner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    transition: transform .3s ease-in-out;
  }
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flexSetup(column, flex-end, center, nowrap);
    &.current {
      opacity: 1;
    }
    &-caption {
      margin: 0 auto;
      min-height: 200px;
      bottom: 200px;
      position: absolute;
      background-color: transparent;
      font-weight: $font-extralight;
      @include flexSetup(column, center, flex-start, nowrap);
      z-index: 20;
      @include media-up(mobile) {
        bottom: 225px;
      }
    }
    &-link-box {
      margin: 60px 0 0 0;
    }
    &-text {
      font-size: 2rem;
      color: $color-white;
      @include media-up(mobile) {
        font-size: 2.5rem;
      }
      &.h1 {
        font-weight: $font-extralight;
        margin: 0 0 20px 0;
        width: 100%;
      }
      &.p-color {
        color: $color-primary-light;
      }
    }
    &-box-link {
      @include flexSetup(column, center, flex-start, nowrap);
      margin: 30px 0;
      @include media-up(mobile) {
        @include flexSetup(row, center, flex-start, nowrap);
      }
    }
    &-link {
      min-width: 220px;
      padding: 15px 30px;
      border: 2px solid $color-white;
      border-radius: 50px;
      background-color: transparent;
      font-size: $font-14;
      font-weight: $font-extrabold;
      color: $color-white;
      text-transform: uppercase;
      transition: all .3s ease;
      margin: 15px 0;
      @include media-up(mobile) {
        width: auto;
        padding: 20px 50px;
        margin: 0;
      }
      &.white {
        background-color: $color-white;
        color: $color-black;
        margin: 0 20px 0 0;
        &:hover {
          background-color: transparent;
          color: $color-white;
        }
      }
      &:nth-child(2) {
        transition: all .3s ease;
        &:hover {
          border: 2px solid $color-active;
          color: $color-active;
        }
      }
    }
    & img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }
  &__dots {
    position: absolute;
    transform: translate(0%, -50%);
    top: 95%;
    width: 100%;
    @include flexSetup(row, center, center, nowrap);
    @include media-up(tablet) {
      width: auto;
      top: 50%;
      right: 50px;
      @include flexSetup(column, center, center, nowrap);
    }
    @include media-up(laptop) {
      right: 100px;
    }
  }
  &__indicator {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 15px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: $color-white;
    @include media-up(tablet) {
      margin: 15px 0;
    }
    &.current {
      background-color: $color-active;
    }
  }
  &__nav {

    &-buttons {
      width: 100%;
      padding: 0 15px;
      text-align: center;
      position: absolute;
      bottom: 120px;
      left: 50%;
      transform: translate(-50%, 0%);
      @include media-up(tablet) {
        text-align: left;
        max-width: 750px;
      }
      @include media-up(laptop) {
          max-width: 920px;
      }
      @include media-up(desktop) {
          max-width: 1187px;
      }
    }
    &-next,
    &-prev {
      cursor: pointer;
      background-color: transparent;
      transition: margin .3s ease;
      display: inline-block;
    }
    &-next {
      &::before {
        content: url('/img/arrow-next.png');
      }
    }
    &-prev {
      margin: 0 10px 0 0;

      &::before {
        content: url('/img/arrow-prev.png');
      }
    }
  }
}