.section-three {
  position: relative;
}
.section__box__modal {
  & .modal {
    display: none;
    &-close {
      cursor: pointer;
      position: absolute;
      right: 50%;
      top: 20%;
      transform: translate(50%, 0%);
      color: #E0F2F1;
      font-family: "Muli-semibold";
      font-size: 1rem;
      line-height: 1.7rem;
      text-align: center;
      width: 30px;
      height: 30px;
      background-color: #00b6dc;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: background-color .3s ease;
      &:focus,
      &:active,
      &:hover {
        outline: none;
        background-color: #5ad4f0;
      }
    }
  }
  &-link {
    position: relative;
    box-shadow: -5px 5px 8px rgba(145, 154, 159, 0.4);
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    margin: 20px 0 0 0;
    @include media-up(laptop) {
      margin: 0;
    }
    &::before {
      cursor: pointer;
      content: url('../img/play-button.png');
      display: inline-block;
      @include stay-center(absolute);
      z-index: 2;
      transition: transform .3s ease;
    }
    &:hover::before {
      transform: translate(-50%, -50%) scale(1.1);
    }
    & img {
      filter: brightness(0.5);
    }
  }
  & .iframe-container {
    position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include media-up(tablet) {
          width: 500px;
          height: 300px;
        }
      }
  }
}
.section__box__modal.section__box__modal-open {
  & .modal {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include stay-center(absolute);
    & iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & .section__box__modal-link {
    &::before {
      z-index: 0;
    }
  }
}