*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    @include media-up(custom2) {
        max-width: 1187px;
    }
}

section {
    height: 100vh;
}