*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @include media-up(tablet) {
        max-width: 750px;
    }
    @include media-up(laptop) {
        max-width: 920px;
    }
    @include media-up(desktop) {
        max-width: 1187px;
    }
}