html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    color: #231f20;
    font: 16px / 1.75em $font-1;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    max-width: 74%;
    margin: 0 auto;
}

section {
    height: 100vh;
}