.h2 {
    margin-bottom: 1rem;
    font-size: 1.75em;
    font-weight: 400;

    @include media-up(mobile) {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    @include media-up(tablet) {
        font-size: 2.5em;
    }

    @include media-up(custom2) {
        font-size: 3rem;
    }
}

.p{
    font-size: 1.125em;
    line-height: 1.75em;

    @include media-up(custom) {
        font-size: 1.3125em;
    }

    &:last-child {
        margin-bottom: 0;
    }
}