@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');

body,
html {
  font-family: $font-main;
}

.h2 {
  font-family: $font-main;
  font-weight: $font-extrabold;
  font-size: $font-36;
  // line-height: 3.75rem;
}

p {
  font-size: 1.125rem;
  line-height: 2rem;
}