@font-face {
  font-family: 'Muli';
  src: url('/assets/fonts/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli-extralight';
  src: url('/assets/fonts/Muli-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli-light';
  src: url('/assets/fonts/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli-semi';
  src: url('/assets/fonts/Muli-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli-bold';
  src: url('/assets/fonts/Muli-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli-extrabold';
  src: url('/assets/fonts/Muli-ExtraBold.ttf') format('truetype');
}

body,
html {
  font-family: $font-regular;
}

.h2 {
  font-family: $font-extrabold;
  font-size: $font-36;
  // line-height: 3.75rem;
}

p {
  font-size: 1.125rem;
  line-height: 2rem;
}