$color-black: #000;
$color-white: #fff;
$color-light-bg: #f5f8fa;
$color-dark-bg: #001927;
$color-primary-light: #00b6dc;
$color-primary-dark: #002841;
$color-text: #333333;
$color-active: #ffcd19;
$color-grey: #91a5b3;

$font-main: 'Muli', sans-serif;
$font-extralight: 200;
$font-light: 300;
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;
$font-extrabold: 800;

$font-12: 0.75rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-36: 2.25rem;


$breakpoints: (
    smallmobile: 425px,
    mobile: 576px,
    tablet: 767px,
    laptop: 992px,
    desktop: 1200px,
    custom: 1400px,
    custom2: 1650px,
    custom3: 1900px
) !default;