.scroll-bottom-animation {
  -webkit-animation-name: light-bounce;
          animation-name: light-bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* or: Xms */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  /* or: normal */
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* or: backwards, both, none */
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  /* or: Xms */ }

@-webkit-keyframes light-bounce {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes light-bounce {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

*, *::after, *::before {
  box-sizing: border-box; }

html, body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px; }

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto; }
  @media (min-width: 1650px) {
    .container {
      max-width: 1187px; } }

section {
  height: 100vh; }

@font-face {
  font-family: 'Muli';
  src: url("/assets/fonts/Muli-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Muli-semi';
  src: url("/assets/fonts/Muli-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Muli-bold';
  src: url("/assets/fonts/Muli-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Muli-extrabold';
  src: url("/assets/fonts/Muli-ExtraBold.ttf") format("truetype"); }

body, html {
  font-family: "Muli", sans-serif; }

.h2 {
  font-family: "Muli-extrabold";
  font-size: 2.25rem; }

p {
  font-size: 1.125rem; }

a,
a:hover {
  text-decoration: none; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.carousel-university {
  width: 100%; }
  .carousel-university__inner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative; }
  .carousel-university__item {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: nowrap; }
    .carousel-university__item-caption {
      position: absolute;
      top: 50%;
      background-color: #fff; }
  .carousel-university__nav {
    position: absolute;
    top: 50%; }

.section-form {
  background-color: #f5f8fa;
  font-family: "Muli", sans-serif; }
  .section-form__form {
    width: 90%;
    margin: 30px auto 0; }
    @media (min-width: 767px) {
      .section-form__form {
        width: 580px; } }

.form__label {
  display: inline-block;
  color: #91a5b3;
  font-size: 0.9375rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 10;
  position: absolute;
  top: 1rem;
  left: 1rem; }

.field-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: nowrap; }
  @media (min-width: 767px) {
    .field-group {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      flex-wrap: nowrap; } }

.field--100 {
  width: 100%; }

.field--50 {
  width: 100%; }
  @media (min-width: 767px) {
    .field--50 {
      width: 50%; } }

.field--50:first-of-type {
  margin: 0; }
  @media (min-width: 767px) {
    .field--50:first-of-type {
      margin: 0 10px 0 0; } }

.field--50:nth-of-type(2) {
  margin: 0; }
  @media (min-width: 767px) {
    .field--50:nth-of-type(2) {
      margin: 0 0 0 10px; } }

.input-container {
  width: 100%;
  height: auto;
  margin: 10px 0;
  position: relative;
  background-color: #fff; }
  @media (min-width: 767px) {
    .input-container {
      height: 50px; } }

.input-container.textarea {
  height: 160px; }

.input-container.submit,
.input-container.agree {
  background-color: transparent;
  box-shadow: none; }

.input-container.agree {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-wrap: nowrap; }

input[type="text"] {
  height: 3.125rem; }

input[type="text"], textarea {
  width: 100%;
  position: relative;
  display: inline-block;
  font: 0.9375rem "Muli", sans-serif;
  padding: 1.5rem 5px 5px 1rem;
  color: #000;
  border: none;
  background-color: transparent;
  outline: none;
  z-index: 20;
  box-shadow: 0px 2px 8px rgba(145, 154, 159, 0.2); }

textarea {
  min-height: 160px;
  font-size: 0.9375rem; }

input[type="text"]:focus ~ label, input[type="text"]:valid ~ label, textarea:focus ~ label {
  top: 14px;
  font-size: 0.6875rem; }

input[type="submit"] {
  cursor: pointer;
  margin: 0 auto;
  width: 120px;
  height: 60px;
  color: #E0F2F1;
  font-family: "Muli-extrabold";
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: #00b6dc;
  border: none;
  border-radius: 50px;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

input[type="submit"]:hover {
  background: #00a3c6;
  border: solid #007f9a;
  border-width: 0 0 4px 0; }

input[type="text"]:active,
input[type="text"]:focus,
textarea:focus {
  box-shadow: none; }

input[type="submit"]:active {
  background: #009688;
  border: solid transparent;
  border-width: 0 0 0px 0; }

.footer-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: start;
  flex-wrap: nowrap;
  min-height: 460px;
  font-family: "Muli", sans-serif;
  font-size: 0.9375rem;
  background-color: #001927;
  color: #fff;
  font-size: 0.9375rem; }
  .footer-box__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
            align-items: start;
    flex-wrap: nowrap; }
  .footer-box__address {
    max-width: 100%; }
    @media (min-width: 1200px) {
      .footer-box__address {
        max-width: 30%; } }
    .footer-box__address p {
      margin: 10px 0; }
  .footer-box__menu {
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: start;
            justify-content: start;
    -webkit-box-align: start;
            align-items: start;
    flex-wrap: nowrap; }
    @media (min-width: 576px) {
      .footer-box__menu {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
                align-items: center;
        flex-wrap: wrap; } }
    @media (min-width: 767px) {
      .footer-box__menu {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        justify-content: space-around;
        -webkit-box-align: center;
                align-items: center;
        flex-wrap: nowrap; } }
    @media (min-width: null) {
      .footer-box__menu {
        max-width: 70%; } }
    .footer-box__menu__item {
      margin: 10px 0; }
      @media (min-width: 576px) {
        .footer-box__menu__item {
          margin: 10px 10px 10px 0; } }
      .footer-box__menu__item .submenu {
        margin: 15px 0 0 0; }
        .footer-box__menu__item .submenu li a {
          display: inline-block;
          margin: 12px 0;
          font-size: 0.9375rem;
          color: #fff; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1920px;
  z-index: 100; }
  @media (min-width: 1200px) {
    .navbar {
      background-color: transparent; } }
  .navbar__box {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: nowrap;
    padding: 1.25rem 0; }
    @media (min-width: 1200px) {
      .navbar__box {
        padding: 2.5rem 0 1.25rem 0; } }
  .navbar__brand {
    z-index: 10; }
  .navbar__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0px;
    overflow-y: scroll;
    top: 150px;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    font: 1.5rem/2rem Helvetica;
    color: #fff;
    position: fixed;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: nowrap;
    -webkit-transition: height .4s ease;
    transition: height .4s ease;
    z-index: -1; }
    .navbar__menu-item {
      list-style-type: none;
      margin: 30px;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .navbar__menu-item:nth-of-type(even):hover {
        -webkit-transform: scale(1.15) rotate(2deg);
                transform: scale(1.15) rotate(2deg); }
      .navbar__menu-item:nth-of-type(odd):hover {
        -webkit-transform: scale(1.15) rotate(-2deg);
                transform: scale(1.15) rotate(-2deg); }
    .navbar__menu-link {
      color: #fff;
      text-decoration: none; }
  .navbar__btn {
    display: none; }
  .navbar__btn:checked ~ .navbar__menu {
    height: 100vh; }
  .navbar__icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 10;
    padding: 20px; }
  .navbar__icon--animated {
    background: #fff;
    display: block;
    height: 3px;
    position: relative;
    width: 30px;
    cursor: pointer; }
    .navbar__icon--animated:before, .navbar__icon--animated:after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      width: 100%; }
    .navbar__icon--animated:before {
      top: 10px; }
    .navbar__icon--animated:after {
      top: -10px; }

.section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: nowrap;
  height: 100vh; }
  .section--flex {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: nowrap; }
    @media (min-width: 767px) {
      .section--flex {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
                align-items: flex-start;
        flex-wrap: nowrap; } }
  .section__box-left, .section__box-right {
    max-width: 100%; }
    @media (min-width: 767px) {
      .section__box-left, .section__box-right {
        max-width: 50%; } }
