.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    max-width: 1920px;
    z-index: 100;
    transition: background-color .4s ease;
    @include media-up(laptop) {
        background-color: rgba(0, 0, 0, 0);
    }
    &-background {
        background-color: rgba(0, 0, 0, .9);
    }

    &__box {
        @include flexSetup(row, space-between, center, nowrap);
        padding: 1.25rem 0;

        @include media-up(desktop) {
            padding: 2.5rem 0 1.25rem 0;
        }
    }
    &__brand {
        z-index: 100;
    }
    &__logo {
        max-width: 75%;

        @include media-up(laptop) {
            max-width: 100%;
        }
    }

    &__menu {
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 0px;
        overflow-y: hidden;
        top: 116px;
        left: 0;
        background: rgba(0, 0, 0, .9);
        font: 1.5rem/2rem Helvetica;
        color: #fff;
        position: fixed;
        @include flexSetup(column, flex-end, center, nowrap);
        transition: max-height .4s ease;
        z-index: -1;

        @include media-up(laptop) {
            position: relative;
            background-color: transparent;
            overflow: hidden;
            max-height: 100%;
            @include flexSetup(row, flex-end, center, nowrap);
            top: 0;
            z-index: 1;
        }

        &-item {
            list-style-type: none;
            margin: 20px;
            padding: 0 0 2px 0;
            transition: all .4s ease;
            &:hover {
                border-bottom: 2px solid $color-white;
            }
            &:nth-of-type(even):hover {
                transform: scale(1.15) rotate(2deg);
            }

            &:nth-of-type(odd):hover {
                transform: scale(1.15) rotate(-2deg);
            }

            &:last-of-type {
                padding: 0 0 30px 0;

                @include media-up(laptop) {
                    padding: 0;
                }
            }
        }

        &-link {
            color: $color-white;
            text-decoration: none;

            @include media-up(laptop) {
                font-size: $font-16;
            }
        }
    }

    &__btn {
        display: none;
    }

    &__btn:checked~.navbar__menu {
        max-height: 100%;
    }

    &__icon {
        cursor: pointer;
        display: inline-block;
        position: relative;
        user-select: none;
        z-index: 10;
        padding: 20px;

        @include media-up(laptop) {
            display: none;
        }
    }

    &__icon--animated {
        background: $color-white;
        display: block;
        height: 3px;
        position: relative;
        width: 30px;
        cursor: pointer;

        &:before,
        &:after {
            background: $color-white;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .3s ease-out;
            width: 100%;
        }

        &:before {
            top: 10px;
        }

        &:after {
            top: -10px;
        }
    }
}